[Unit]
Description=Lock X session using xsecurelock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
#ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/xsecurelock

[Install]
WantedBy=sleep.target
