*
!.Xauthority
!.Xresources
!.bash_profile
!.bashrc
!.gitignore
!.p10k.zsh
!.xinitrc
!.xprofile
!.zshrc
!README.md


# Don't ignore local bin files
!.local
!.local/bin
!.local/bin/*

# Don't ignore icons
!.icons
!.icons/*

# Don't ignore wallpapers
!Pictures
!Pictures/*
!Pictures/Wallpapers
!Pictures/Wallpapers/*
!Pictures/Preview
!Pictures/Preview/*

#Don't ignore the following config files
!.config
!.config/i3
!.config/i3/*
!.config/polybar
!.config/polybar/*
!.config/polybar/scripts/*
!.config/polybar/scripts/rofi
!.config/polybar/scripts/rofi/*
!.config/rofi
!.config/rofi/*
!.config/zsh
!.config/zsh/*
!.config/dunst
!.config/dunst/*
!.config/systemd
!.config/systemd/user
!.config/systemd/user/*
!.config/picom
!.config/picom/*
!.config/alacritty
!.config/alacritty/*

#Dont ignore neovim
!.config/nvim
!.config/nvim/*
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/config
!.config/nvim/lua/config/*
!.config/nvim/lua/config/lsp
!.config/nvim/lua/config/lsp/*
!.config/nvim/lua/config/lsp/settings
!.config/nvim/lua/config/lsp/settings/*
!.config/nvim/lua/helpers
!.config/nvim/lua/helpers/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
