[Desktop Entry]
Name=Basic Firefox
Comment=Basic Firefox
Exec=firefox -P "Basic" -no-remote
Icon=/home/iambee/.icons/firefox_basic.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
